@import '../../assets/css/variables.scss';

.App {
  height: 100%;

  >.row {
    height: 100%;

    >div {
      padding: 0 !important;
      height: 100%;
    }
    
    >div:last-child {
      max-height: 100%;
      overflow: auto;
    }
  }
}
