@import '../../assets/css/variables.scss';

.Section {
  padding: 20px;
  margin-top: 30px;

  header {
    h4 {
      font-weight: bold;
    }
  }

  figure {
    border: 1px solid $gray-400;
    padding: 10px;
    max-height: 250px;
    max-width: 300px;

    img {
      max-height: 228px;
      max-width: 278px;
    }
  }
  figure.left {
    float: left;
    margin-right: 20px;
  }
  figure.right {
    float: right;
    margin-left: 20px;
  }
}

.Section:after {
  content: '';
  display: block;
  clear: both;
}
