@import '../../assets/css/variables.scss';

.MainNav {
  min-height: 100%;
  padding: 15px;
  background: $gray-800;

  .nav-link:not([disabled]) {
    color: $white;
  }

  .nav-link:not([disabled]):hover {
    color: $gray-500;
  }
}
